<html>
<head>
    <link rel="stylesheet" href="client/css/styles.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> Login </h3>
                </div>
                <div class="panel-body">
                    <form role="form" ng-app="myApp"  ng-controller="validateCtrl" id="myForm"
                          name="myForm" novalidate>

                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" ng-model="email" required>
                            <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                                <span ng-show="myForm.email.$error.required">Email name is required.</span>
                                <span ng-show="myForm.email.$error.email">Email is invalid.</span>
                             </span>
                        </div>

                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" ng-model="password" required>
                            <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
                                <span ng-show="myForm.password.$error.required">Password is required.</span>
                            </span>
                        </div>
                        <input type="submit" ng-click="onFormSubmit()" value="Login" class="btn btn-info btn-block" ng-disabled="myForm.$invalid">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="server/node_modules/socket.io-client/dist/socket.io.js"></script>
<script src="client/login_controller.js" type="text/javascript"></script>
</html>